header{
  height: 100px;
  background-color: rgba(0, 100, 255, 0.8);
}
.header-icon{
  float: left;
  padding-top: 0;
}
.header-li{
  padding-right: 10px;
  list-style: none;
  float:left;
  font-size: 15px;
}
